/* Start: Global CSS Customization */
html,
body {
  background-color: #000;
  color: #000;
  margin: 0;
  font-family: "Teko", sans-serif;
  font-weight: 400;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  white-space: nowrap;
  animation: marquee 20s linear infinite;
}

@media (min-width: 768px) {
  .unravel-taste-section .icon-background-img {
    background-image: url('./assets/images/background-icon-banner.png');
    background-size: cover;
  }
}

@media (min-width: 1024px) {
  .animate-marquee {
    animation: marquee 40s linear infinite;
  }
}